<div class="header">

    <div class="header-content">
        <a class="header-title" 
                routerLink="" 
                routerLinkActive="active"
                ariaCurrentWhenActive="page">
                Flower Shop</a>
        
        <div class="header-nav">

            <a class="header-nav-home" 
                routerLink="" 
                routerLinkActive="active"
                ariaCurrentWhenActive="page">
                Home
            </a>
            <div class="header-nav-contact">Contact</div>
            <div class="header-nav-about">About</div>
        </div>

        <div class="header-user">
            <a class="header-user-cart" 
                routerLink="cart" 
                routerLinkActive="active"
                ariaCurrentWhenActive="page">
                Cart
            </a>
            <a class="header-user-profile" 
                routerLink="user/login" 
                routerLinkActive="active"
                ariaCurrentWhenActive="page">
                Profile
            </a>
        </div>
    </div>
    
</div>