<div class="fl-header">
    <div class="fl-header__0">
        <div>logo</div>
    </div>
    <div class="fl-header__1">

        <a class="fl-header__1__header-item" 
            routerLink="" 
            routerLinkActive="active"
            ariaCurrentWhenActive="page">
            Home
        </a>
        <div class="fl-header__1__header-item">Contact</div>
        <div class="fl-header__1__header-item">About</div>
    </div>
    <div class="fl-header__2">
        <a class="f1-header__2__menu" 
            routerLink="cart" 
            routerLinkActive="active"
            ariaCurrentWhenActive="page">
            Cart
        </a>
        <a class="f1-header__2__menu" 
            routerLink="user-login" 
            routerLinkActive="active"
            ariaCurrentWhenActive="page">
            Profile
        </a>
    </div>
</div>