* {
    font-size: 1.2rem;
}
.user-register-form {
    display: flex;
    width: 500px;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.user-register-title {
    margin-bottom: 20px;
    font-weight: bold;
}