<h3>Sign Up for flower shop:</h3>

<form class="user-registration-form" (ngSubmit)="onClickSubmit()">
    <input type="text" name="username" placeholder="Enter a username" [(ngModel)]="userForm.username">
    <input type="email" name="email" placeholder="Enter your email" [(ngModel)]="userForm.email">
    <input type="password" name="password" placeholder="Enter a password" [(ngModel)]="userForm.password">
    <input type="text" name="address" placeholder="Address" [(ngModel)]="userForm.address">
    <button type="submit">Create Account</button>
</form>
