<div class="products-content">

    <div class="product-list">
        <div class="product-list-title">Current Product List:</div>
        <div class="product-list-content">
            @for (product of productListService.productListSignal(); track product) {
                <div class="product-list-item">
                    <img class="list-item-image" src="{{ product.imageUrl }}" alt="flower image" routerLink="product-detail/{{ product.id }}" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <a class="list-item-title" routerLink="product-detail/{{ product.id }}" routerLinkActive="active" ariaCurrentWhenActive="page">{{ product.name}}</a>
                </div>
                
    
            } @empty {
                <div>Nothing found!</div>
            }
        </div>
         
    </div>
    
</div>