.product-list-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.product-list-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.product-list-item {
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list-item-title {
    text-align: center;
}
.list-item-image {
    border-radius: 10px;
    cursor: pointer;
}
